@{
    ViewBag.Index = "The Fantasy Dead App - It's like fantasy football, but with zombies...";
}

<div class="row kill-margin hidden-sm hidden-xs">
    <div class="container-fluid landing-lg">

        <div class="dl-buttons-lg">
            <a href="#" class="btn btn-lg btn-primary">
                <i class="fa fa-google"></i>
                Coming soon
            </a>
            <br />
            <a href="https://fantasydead.blob.core.windows.net/builds/fd107.apk">Download latest build (.apk - Android)</a>
            <br />
            <a href="#" class="btn btn-lg btn-primary">
                <i class="fa fa-apple"></i>
                Coming soon
            </a>
        </div>
    </div>
</div>
<div class="row kill-margin visible-xs visible-sm">
    <div class="container-fluid landing-sm">

        <div class="dl-buttons-sm">

            <a href="#" class="btn btn-primary">
                <i class="fa fa-google"></i> 
                Coming soon
            </a>
            <br/>
            <a href="">Download latest build (.apk)</a>
            <br />
            <a href="https://fantasydead.blob.core.windows.net/builds/fd107.apk" class="btn btn-primary">
            <i class="fa fa-apple"></i> 
                Coming soon</a>
        </div>


        <div class="mobile-art-bottom">

        </div>
    </div>
</div>