
@{
    ViewBag.Title = "TFD: Legal";
}

<div class="container" style="margin-top:60px;">
    <div class="row">
        <div class="col-md-12" style="padding: 0 10pt;">
            <h2>
                <i class="fa fa-gavel"></i> Our legal disclaimer
            </h2>

            <p>
                <h4 class="no-margin" style="color: #666;">We are a fan site</h4>
                This is a fan site/mobile application for the “The Walking Dead” TV show (hereafter referred to as “the show”). <b>The intent of this platform is to encourage more viewership of the show, and bolster the community surrounding it.</b> Neither this site nor its owners (hereafter referred to as “creators,” or “we”) have any claims on the actual show. We fully acknowledge ownership to AMC Networks.
            </p>
            <p>
                <h4 class="no-margin" style="color: #666;">Artwork & images</h4>
                Art assets used on this website are one of the following:
                <ul>
                    <li>
                        Character portraits and/or headshots may be taken from AMC’s Digital Press Kits. Ex) Season 6a Press Kit
                    </li>
                    <li>Some art has been originally created.</li>
                    <li>Some art may have been taken from other artist / fan websites with consent from the artist.</li>
                    <li>Some photos, if necessary, have been taken from TV/Movie repositories such as IMDB.</li>
                </ul>
            </p>
            <p>
                <h4 style="color: #666;" class="no-margin">Gambling, advertisements</h4>
                This website and service is free to use. We do not intend to create features or widely enable gambling or money gain on our part. We do not intend to show advertisements on this website outside of paying for the costs of running the website. Should advertisements appear, they are merely to keep the site running.

                <br /><br />
                Should you have any requests or questions, please contact us at contact@thefantasydead.com
            </p>

        </div>
    </div>
</div>




