
@{
    ViewBag.Title = "TFD: Privacy";
}

<div class="container" style="margin-top:60px;">
    <div class="row">
        <div class="col-md-12" style="padding: 0 10pt;">
            <h2>
                <i class="fa fa-shield"></i> Privacy
            </h2>

            <p>
                <h4 class="no-margin">Website and phone application</h4>
                This privacy statement applies to both the website and the phone application for iOS, Android, and Windows Phone.
            </p>
            <p>
                <h4 class="no-margin">We do NOT use cookies</h4>
                The website/app does not create any cookies to identify you. The phone app will use local storage on the phone to save your logged in identity. <a href="http://www.allaboutcookies.org/">What are cookies?</a>
            </p>
            <p>
                <h4 class="no-margin">We use third party services to log you in</h4>
                The phone application can use third party logins (such as Twitter) to authenticate users. The only information stored and saved from third party providers is a unique user ID from the respective platform. Upon registering, the third party does suggest and provide a username (and often times an email) to which we display to the user to confirm or change. No other information is taken from these third party providers nor is any other user information you should enter sent to these third party providers.
                <br />
                <b>You can always opt register manually and login with your email instead of using a third party service.</b>
            </p>
            <p>
                <h4 class="no-margin">To participate, we need your email</h4>
                We will not email you unless you solicit us to do so. Email is only used in three scenarios.
                <ol>
                    <li>To log you in, should you decide to register manually with your email address.</li>
                    <li>Recover accounts should a user find themselves struggling to log in.</li>
                    <li>Recieve email notifications/reminders for filling your roster, or when scores have been updated. This option is turned off by default.</li>
                </ol>
                Your email is stored and encrypted safely and is not used otherwise (we will NOT share it with anyone, ever). It is, however, required to fully utilize the app. Should we change this policy or how we use your email, we will publically post thirty days in advance and use a standard of “opt-out-by-default.”
            </p>
            <p>
                <h4 class="no-margin">We aim to be secure</h4>
                We have taken extra precaution to protect any data you give us. We pledge to be secure and therefore trustworthy.
                <br />
                Should you have any requests or questions, please contact us at contact@thefantasydead.com
            </p>
        </div>
    </div>
</div>