
@{
    ViewBag.Title = "TFD: Support";
}

<style>
    body {
        background: none !important;
    }
</style>
<div class="container" style="margin-top:60px;">
    <div class="row">
        <div class="col-md-12" style="padding: 0 10pt;">
            <h2>
                <i class="fa fa-heart"></i> Support, Feedback, and FAQ
            </h2>

            <p>
                <h4 class="no-margin">Need assistance?</h4>
                Be sure to check out our FAQ below to see if your question has already been answered. <br />
                <a href="https://twitter.com/thefantasydead" style="font-size: 14pt;">
                    <i class="fa fa-twitter"></i>
                    @@TheFantasyDead
                </a> <br />
                <a href="https://facebook.com/thefantasydead" style="font-size: 14pt;">
                    <i class="fa fa-facebook"></i>
                    The Fantasy Dead
                </a>
            </p>
            <br />
            <p>
                <h4 class="no-margin">Feedback & Bugs</h4>
                We would <b>LOVE</b> to hear your feedback. We're a small team, but we'll try to make as much improvements as we can. You can file feedback or a bug on our tracker:
                <br />
                <a href="https://github.com/porschiey/FantasyDead/issues" style="font-size: 14pt;"><i class="fa fa-github"></i> GitHub Issue tracker</a> <br />
            </p>
            <br />
            <p>

                <h4 class="no-margin">Frequently Asked Questions</h4>

                <ul class="faq" style="list-style: none;">
                    <li>
                        When do my character selections lock each week?
                        <div class="well well-sm ">
                            Around 12PM Pacific Time Sunday, you'll no longer be able to select characters for that night's episode. The option may appear for the following week, however.
                        </div>
                    </li>
                    <li>
                        How many times can I use a character?
                        <div class="well well-sm ">
                            You can use each character up to <b style="color: red;">3 times per 8 episodes.</b>
                        </div>
                    </li>
                    <li>
                        When are new characters added to the system?
                        <div class="well well-sm ">
                            New characters are added to the system if they live longer than one episode, are clearly named and can be found in credits or on IMDB.
                        </div>
                    </li>
                    <li>
                        Who keeps score?
                        <div class="well well-sm ">
                            Technically, no one. We've created a handy system so that we enter in events, and the system automatically keeps score.
                        </div>
                    </li>
                    <li>
                        How long after the episode airs will I see my new points?
                        <div class="well well-sm ">
                            As a general truth, we will attempt to enter in events as soon as we can. However, please allow for up to 24 hours for us to input the episode events.
                        </div>
                    </li>
                    <li>
                        Will points reset?
                        <div class="well well-sm ">
                            The points will likely reset every season - however we will attempt to keep record of all previous seasons.
                        </div>
                    </li>
                    <li>
                        What do I get for winning?
                        <div class="well well-sm ">
                            For now, major bragging rights. We have some fancy ideas for the future, however. Stay tuned!
                        </div>
                    </li>
                    <li>
                        Where are all the points for seasons 1 through 5?
                        <div class="well well-sm ">
                            Eventually we'll get these logged. It takes time to meticulously scan each episode, so thanks for your patience. If you want to help us, feel free!
                        </div>
                    </li>
                    <li>
                        I can’t set my lineup, I didn’t get my badge or I’m having any issues with the website. What do I do?
                        <div class="well well-sm ">
                            Check out our <a href="https://github.com/porschiey/FantasyDead/issues" target="_blank">Issue tracker</a>, or let us know on <a href="https://twitter.com/thefantasydead" target="_blank">Twitter</a> or <a href="https://facebook.com/thefantasydead" target="_blank">Facebook</a>.
                        </div>
                    </li>
                    <li>
                        You missed an event or the scoring is incorrect. What do I do?
                        <div class="well well-sm ">
                            Let us know on <a href="https://twitter.com/thefantasydead" target="_blank">Twitter</a> or <a href="https://facebook.com/thefantasydead" target="_blank">Facebook</a>.
                        </div>
                    </li>
                    <li>
                        How are kills determined?
                        <div class="well well-sm ">
                            For a kill to be counted, we must see the character kill the walker/human or be able to piece together scenes to verify they killed the walker/human. There may be times when a group is shooting and kills can’t be verified. Depending on the situation, everyone will get 1 kill or no kills will be awarded.
                        </div>
                    </li>
                    <li>
                        How are deaths determined?
                        <div class="well well-sm ">
                            For a character to be marked as dead, we will have to visually see their death or they will need to be listed in the In Memoriam segment of The Talking Dead TV Show.
                        </div>
                    </li>
                    <li>
                        Why wasn’t there a modifier added to my character’s event?
                        <div class="well well-sm ">
                            Not all events will have modifiers. If you head to "<i class="fa fa-book"></i> Point worthy actions", you can see which events won’t receive a modifier bonus. If the event does qualify for a modifier and you feel we scored the event incorrectly, please let us know on <a href="https://twitter.com/thefantasydead" target="_blank">Twitter</a> or <a href="https://facebook.com/thefantasydead" target="_blank">Facebook</a>.
                        </div>
                    </li>
                    <li>
                        One of my characters had 20 kills in the episode, will they get all the kill bonuses or just the highest one?
                        <div class="well well-sm ">
                            A character will receive all the kill bonuses they qualify for. If they had 20 kills, they will get points for the 5, 10 and 15+ kill bonus events.
                        </div>
                    </li>
                </ul>
                <br />
            </p>
        </div>
    </div>
</div>