<div class="modal animated flipInY" tabindex="-1" role="dialog" id="friendModal">
    <div class="modal-dialog modal-sm" role="document" style="height: 90%;">
        <div class="modal-content " style="padding: 15px; font-size: 12pt;">

            <h2>Find a friend</h2>
            <span class="help-block">
                Adding a friend to your list will not necessarily add you to their list. It's more of a follow system.
            </span>

            <input type="text" class="form-control" ng-model="friendSearch" placeholder="username"
                   ng-change="search()" ng-model-options="{debounce: 500}" />

            <br /><br />

            <div ng-show="searching" class="text-center container-fluid">
                <i class="fa fa-2x fa-spin fa-circle-o-notch"></i>
            </div>

            <div ng-show="searchResults.length === 0" class="text-center container-fluid">
                No results...
            </div>

            <div class="container-fluid" ng-show="searchResults.length > 0">
                <div ng-repeat="f in searchResults" ng-click="addFriend(f)" class="btn btn-default btn-lg btn-default-borded">                    
                    <div class="avatar-tiny" style="float: left;">
                        <img ng-src="{{f.AvatarUrl}}" />
                    </div>
                    <span style="float: left;">&ensp;{{f.Username}}</span>
                </div>
            </div>

            <br />
            <a ng-click="searchModal()" class="btn btn-default btn-default-borded">
                Cancel
            </a>
        </div>
    </div>
</div>


<div class="container-fluid text-center">

    <div ng-show="!ready">
        <br /><br />
        <i class="fa fa-spin fa-2x fa-circle-o-notch"></i>
    </div>

    <div ng-show="friends.length === 0 && ready">
        <h4>It's pretty lonely here...</h4>
        <br />
        <a class="btn btn-default btn-default-borded btn-lg" ng-click="searchModal()">
            <i class="fa fa-user-plus"></i>
            Find a friend
        </a>
    </div>
</div>

<div class="container-fluid" ng-show="friends.length > 0">
    <br />
    <a class="btn btn-default btn-default-borded btn-lg" ng-click="searchModal()">
        <i class="fa fa-user-plus"></i>
        Add a friend
    </a>
    <br />
    <br />
    <table class="table table-bordered" ng-show="friends.length > 0 && ready">
        <tr ng-repeat="friend in friends">
            <td>
                <div id="{{friend.PersonId}}-front" class="row animated fadeInY" ng-show="currentlyFlipped !== friend.PersonId">

                    <div class="col-xs-6">
                        <div class="avatar-tiny" style="float: left;" ng-if="friend.AvatarUrl !== ''">
                            <img ng-src="{{friend.AvatarUrl}}" />
                        </div>
                        <span style="float: left;">&ensp;{{friend.Username}}</span>

                    </div>
                    <div class="col-xs-4">
                        <a ng-click="viewPerson(friend.PersonId)">
                            {{friend.TotalScore}} points
                        </a>
                    </div>
                    <div class="col-xs-2" style="font-size: 11pt;" ng-click="currentlyFlipped = friend.PersonId">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
                <div id="{{friend.PersonId}}-back" class="animated fadeInY" ng-show="currentlyFlipped === friend.PersonId">
                    Remove {{friend.Username}}: Are you sure? &ensp;&ensp;
                    <a ng-click="removeFriend(friend.PersonId)">Yes</a>
                    &ensp;
                    <a ng-click="currentlyFlipped = null">Cancel</a>
                </div>
            </td>
        </tr>
    </table>
</div>