<div class="modal animated " data-backdrop="static" tabindex="-1" role="dialog" id="charModal">
    <div class="modal-dialog modal-sm" role="document" style="height: 90%;">
        <div class="modal-content " style="height: 100%;">

            <h3 class="gray-header" style="padding-left: 10px;">SLOT A CHARACTER</h3>
            <div class="text-center" ng-show="working">
                <i class="fa fa-2x fa-spin fa-circle-o-notch"></i>
                <br />Working on that...
            </div>
            <div class="character-host" ng-show="!working">
                <div class="character-pane">
                    <table class="table table-striped">
                        <tr ng-show="eSlot.Occupied" ng-click="removeChar(eSlot.Pick.id)">
                            <td colspan="3" style="line-height: 50px;">
                                <i class="fa fa-eraser"></i>
                                Remove slotted character
                            </td>
                        </tr>
                        <tr ng-repeat="ch in characters"
                            ng-click="selectChar(ch.Id)"
                            ng-class="{'disabled': (charIsSlotted(ch.Id) || ch.usage > 2)}">
                            <td style="font-size: 14pt; line-height: 50px;">
                                <img ng-src="{{ch.PrimaryImageUrl}}" class="portrait-small" style="float: left;">
                                <span style="padding-left: 10px;">{{ch.Name}}</span>
                                <i class="fa "
                                   ng-show="(charIsSlotted(ch.Id) || ch.usage > 2)"
                                   ng-class="{'fa-check': charIsSlotted(ch.Id), 'fa-ban': ch.usage > 2 }"></i>
                            </td>
                            <td>
                                {{3 - ch.Usage}} uses left
                            </td>
                            <td>
                                {{ch.TotalScore}} points
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="text-center" style="width: 100%;" ng-show="!working">
                <a ng-click="flipSlot(eSlot)" class="btn btn-default" style="border: 1px solid #999;">Nevermind</a>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeInDown" data-backdrop="static" tabindex="-1" role="dialog" id="askNotify">
    <div class="modal-dialog modal-sm" role="document" style="height: 90%;">
        <div class="modal-content " style="padding: 15px; font-size: 12pt;">

            <div ng-show="askNotifyStep === 1" class="animated">
                <h2>Nice pick...</h2>
                <p>
                    We thought about it, and figured it might be nice to be notified once the episode has been scored.
                </p>
                <p>
                    <b> Do you want to be notified when your points get updated?<br /></b>

                    <br />
                    <a class="btn btn-default btn-primary" ng-click="setupNotify()">
                        Yes, please!
                    </a>
                    <a class="btn btn-default btn-default-borded" ng-click="bailAskNotify(-1)">
                        I hate notifications
                    </a>
                </p>
            </div>

            <div ng-show="askNotifyStep === 0" class="animated rotateInUpLeft">
                <h2>You're all set</h2>
                <p>
                    We'll let you get back to it. If you ever want to change these settings, you can in <a href="#/settings">Settings</a>.
                    <br />... Obviously.<br />
                </p>

            </div>

            <div ng-show="askNotifyStep === -1" class="animated rotateInUpLeft">
                <h2>Hey no worries</h2>
                <p>
                    We'll leave you alone! If you change your mind, you can turn them on in <a href="#/settings">Settings</a>.
                </p>

            </div>

            <div ng-show="askNotifyStep === 2" class="animated flipInY">
                <h2>One last thing...</h2>
                <p>
                    Don't miss out, we can remind you up to 72 hours before the rosters lock to make your selections each week. We highly recommend it.
                </p>
                <p>
                    <b>How much advance warning do you want?<br /></b>
                    <select id="pushRemindHours" ng-model="dlh" style="height: 30px;"
                            ng-options="lockO as lockO.d for lockO in preLockHours track by lockO.hours"
                            ng-change=""></select>
                    <br />
                    or &ensp;
                    <a class="btn btn-default btn-default-borded" ng-click="bailAskNotify(0)">
                        I don't need it
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<!--<div class="row sub-banner text-center">
    <div class="col-xs-6">
        <a ng-click="showing = 'current'" ng-class="{'banner-active': showing === 'current' }">Current Episode</a>
    </div>
    <div class="col-xs-6">
        <a ng-click="showing = 'history'" ng-class="{'banner-active': showing === 'history' }">History</a>
    </div>
</div>-->
<!--<div class="sub-banner-spacer"></div>-->

<div ng-show="!ready" class="text-center" style="width: 100%;">
    <br /><br />
    <i class="fa fa-2x fa-spin fa-circle-o-notch"></i> <br /> {{loadingText}}
</div>

<div ng-show="ready">
    <div class="score-banner">
        <h2 class="point-display">
            {{score.whole | number}}<span class="decimal">.{{score.dec}} points</span>
            <a class="btn btn-default btn-default-borded" ng-click="toggleShowing()" ng-if="isUser" style="float: right;">

                <span ng-show="showing === 'current'">
                    <i class="fa fa-pie-chart"></i> Point Breakdown
                </span>
                <span ng-show="showing !== 'current'">
                    <i class="fa fa-minus"></i> Hide Breakdown
                </span>
            </a>
        </h2>

        <br />

        <span class="help-block" ng-show="gain !== 0">
            {{noun}} {{verb}} {{gain}} points last episode.
        </span>

    </div>
    <div class="container-fluid" style="width: 100%">
        <a class="btn btn-default" style="position: absolute; right: 0;" ng-click="init()">
            <i class="fa fa-refresh"></i>
        </a>

        <h3 class="gray-header" style="color: #333;" ng-show="showing === 'current'">
            <span style="font-weight:bolder;">Roster:</span> {{episode.Name}}
        </h3>
        <div class="text-center" ng-show="showing === 'current'">

            <span class="help-block" ng-if="episode === null">
                Looks like there aren't any more episodes for now...
            </span>

            <div class="col-xs-6 slot-host" ng-repeat="slot in slots">

                <div id="{{slot.Id}}">
                    <div class="front animated flipInY" ng-click="flipSlot(slot)">
                        <div class="death-slot-overlay" ng-if="slot.Occupied && slot.DeathSlot">
                        </div>
                        <img ng-src="{{slot.CharacterPictureUrl}}" class="slot-img " ng-class="{'occupied': slot.Occupied}" />
                        <span class="character-name">
                            <br />
                            {{slot.CharacterName}}&ensp;

                        </span>
                    </div>
                </div><!--- /slot -->
            </div><!--- /slot host (repeat) -->
        </div> <!--- /Current -->
        <div class="container-fluid no-padding" ng-show="showing === 'history'">

            <table class="table">
                <tr ng-repeat="h in history">
                    <td class="no-padding">
                        <h3 class="point-display">
                            <span style="font-weight: lighter;">{{h.EpisodeName}}</span> <br />
                            {{h.score.whole | number}}<span class="decimal-h3">.{{h.score.dec}} points</span>
                        </h3>
                        <br />
                        <table class="table table-condensed">
                            <tbody ng-repeat="slot in h.Picks | filter: {EpisodeId: ep.id}">
                                <tr ng-click="slot.expanded = !slot.expanded">
                                    <td style="color: #9c661f; vertical-align: middle; font-size: 16pt;">
                                        <i class="fa " ng-class="{'fa-plus': !slot.expanded, 'fa-minus': slot.expanded}"></i>
                                    </td>
                                    <td>
                                        <img class="portrait-small" style="float: left;" ng-src="{{slot.CharacterPictureUrl}}" />
                                        {{slot.CharacterName}}
                                    </td>
                                    <td>
                                        {{slot.TotalScore}} points
                                    </td>
                                </tr>
                                <tr class="row" ng-show="slot.expanded">
                                    <td colspan="3">
                                        <table class="table table-condensed smallest-text">
                                            <tr ng-repeat="ev in slot.Events | orderBy: 'EpisodeTimestamp'">

                                                <td style="width: 50px;">
                                                    {{parseTimestamp(ev.EpisodeTimestamp)}}
                                                </td>
                                                <td style="width: 50px;">
                                                    {{ev.Points}} pts
                                                </td>
                                                <td>
                                                    {{ev.Description}}
                                                    <span ng-if="ev.Notes">
                                                        <br />
                                                        <b>Special Note:</b>
                                                        <br />
                                                        {{ev.Notes}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                        </table>
                    </td>
                </tr>
            </table><!--- /history list group -->
        </div> <!--- /history -->
    </div> <!--- /container -->
</div> <!--- /roster ready -->
