<div class="modal animated " data-backdrop="static" tabindex="-1" role="dialog" id="charModal">
    <div class="modal-dialog modal-sm" role="document" style="height: 90%;">
        <div class="modal-content " style="height: 100%;">

            <h3 class="gray-header" style="padding-left: 10px;">SLOT A CHARACTER</h3>
            <div class="text-center" ng-show="working">
                <i class="fa fa-2x fa-spin fa-circle-o-notch"></i>
                <br />Working on that...
            </div>
            <div class="character-host" ng-show="!working">
                <div class="character-pane">
                    <table class="table table-striped">
                        <tr ng-show="eSlot.Occupied" ng-click="removeChar(eSlot.Pick.id)">
                            <td colspan="2">
                                <i class="fa fa-eraser"></i>
                                Remove slotted character
                            </td>
                        </tr>
                        <tr ng-repeat="ch in characters"
                            ng-click="selectChar(ch.Id)"
                            ng-class="{'disabled': charIsSlotted(ch.Id)}">
                            <td style="font-size: 14pt; line-height: 50px;">
                                <img ng-src="{{ch.PrimaryImageUrl}}" class="portrait-small" style="float: left;">
                                <span style="padding-left: 10px;">{{ch.Name}}</span>

                            </td>
                            <td>
                                {{ch.TotalScore}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="text-center" style="width: 100%;" ng-show="!working">
                <a ng-click="flipSlot(eSlot)" class="btn btn-default" style="border: 1px solid #999;">Nevermind</a>
            </div>
        </div>
    </div>
</div>


<div class="row sub-banner text-center">
    <div class="col-xs-6">
        <a ng-click="showing = 'current'" ng-class="{'banner-active': showing === 'current' }">Current Episode</a>
    </div>
    <div class="col-xs-6">
        <a ng-click="showing = 'history'" ng-class="{'banner-active': showing === 'history' }">History</a>
    </div>
</div>
<div class="sub-banner-spacer"></div>

<div ng-show="!ready" class="text-center" style="width: 100%;">
    <br /><br />
    <i class="fa fa-2x fa-spin fa-circle-o-notch"></i> <br /> Getting the latest, just for you...
</div>

<div ng-show="ready">
    <div class="container-fluid text-center" ng-show="showing === 'current'" style="width: 100%">
        <a class="btn btn-default" style="position: absolute; right: 0;" ng-click="init()">
            <i class="fa fa-refresh"></i>
        </a>


        <h2 class="gray-header">
            {{episode.Name}}
        </h2>

        <div class="col-xs-6 slot-host" ng-repeat="slot in slots">

            <div id="{{slot.Id}}">
                <div class="front animated flipInY" ng-class="{'occupied': slot.Occupied}" ng-click="flipSlot(slot)">
                    <img ng-src="{{slot.CharacterPictureUrl}}" class="slot-img" />
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid" ng-show="showing === 'history'">

</div>
